//NOTE: Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

//NOTE: Variables
$font: "Roboto", sans-serif;
$primary: #e5e7eb;
$secondary: #22c55e;
$rounded: 10px;
$border: 2px;
$spacing: 0.1rem;

//NOTE: Placeholders
%label {
  font-weight: 700;
  letter-spacing: $spacing;
  margin-bottom: 1rem;
}

//NOTE: Mixins
@mixin input($weight, $spacing, $padding, $radius, $bg) {
  font-weight: $weight;
  letter-spacing: $spacing;
  padding: $padding;
  border: $border solid transparent;
  border-radius: $radius;
  background-color: $bg;
  outline: none;
  transition: border-color, 0.3s ease-in-out;
  &:focus {
    border-color: $secondary;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font;
  margin: 0;
  padding: 0;
}

#app {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .live-writing {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #text-displayer {
        @extend %label;
      }

      #text-input {
        @include input(bold, $spacing, 1rem, $rounded, $primary);
      }
    }
  }
}
